:root {
  --primary: #fff;
  --secondary: #c07c28;
  --background: #000;
  --border: #868686;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("../fonts/VCR_OSD_MONO.ttf") format("truetype");
}

body {
  font-family: "VCR OSD Mono";
  background-color: var(--background);
  color: var(--primary);
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-logo img {
  display: block;
  margin: 40px auto;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: var(--background);
  margin-top: -30px;
}

.navbar a {
  color: var(--primary);
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--secondary);
}

.main {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin: 70px 94px;
  gap: 43px;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 40px;
}

.main-logo img {
  width: 72px;
  height: auto;
  object-fit: contain;
}

.main-logo h1 {
  font-size: 64px;
  margin: 0;
  text-decoration: underline;
  font-weight: 400;
}

.maintext {
  flex: 1 1 70%;
  text-align: justify;
}

.maintext p {
  font-size: 32px;
  clear: both;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit-button {
  font-family: "VCR OSD Mono", monospace;
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--border);
  padding: 10px;
  font-size: 48px;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.submit-button:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.mainimg {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
