:root {
  --primary: #fff;
  --secondary: #c07c28;
  --background: #000;
  --border: #868686;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("../fonts/VCR_OSD_MONO.ttf") format("truetype");
}

body {
  font-family: "VCR OSD Mono";
  background-color: var(--background);
  color: var(--primary);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 100vh;
}

.container img {
  width: 70%;
  height: auto;
  margin-bottom: 1rem;
}

.submit-button {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.submit-button-1 {
  font-family: "VCR OSD Mono";
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--border);
  padding: 10px;
  font-size: 48px;
  cursor: pointer;
  text-transform: uppercase;
  height: 67px;
  width: auto;
}

.submit-button-1:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}
