:root {
  --primary: #fff;
  --secondary: #c07c28;
  --background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("../fonts/VCR_OSD_MONO.ttf") format("truetype");
}

body {
  font-family: "VCR OSD Mono";
  background-color: var(--background);
  color: var(--primary);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 100vh;
}

.container img {
  width: 60%;
  height: auto;
  margin-bottom: 1rem;
}

.submit-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.submit-button-1 {
  font-family: "VCR OSD Mono", monospace;
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 5px 10px;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
  min-width: 100px;
}

.submit-button-1:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

@media (max-width: 768px) {
  .submit-button {
    flex-direction: column;
    gap: 10px;
  }

  .submit-button-1 {
    font-size: 1rem;
    padding: 8px 15px;
  }
}
