:root {
  --primary: #fff;
  --secondary: #c07c28;
  --background: #000;
  --border: #868686;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("../fonts/VCR_OSD_MONO.ttf") format("truetype");
}

body {
  font-family: "VCR OSD Mono";
  background-color: var(--background);
  color: var(--primary);
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-logo img {
  display: block;
  margin: 40px auto;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: var(--background);
  margin-top: -30px;
}

.navbar a {
  color: var(--primary);
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--secondary);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 169px;
  margin-top: 70px;
}

.maintext {
  flex: 1 1 60%;
  text-align: justify;
}

.maintext img {
  display: block;
  margin: 0 auto 10px;
  width: 511px;
  float: left;
  margin-left: -20px;
}

.maintext p {
  font-size: 24px;
  clear: both;
  line-height: 24px;
  margin-bottom: 20px;
}

.maintext h6 {
  font-size: 32px;
  margin: 32px 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}

.submit-button {
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 70px;
}

.submit-button-1 {
  font-family: "VCR OSD Mono", monospace;
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px 41px;
  font-size: 40px;
  cursor: pointer;
  text-transform: uppercase;
}

.submit-button-1:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.mainimg {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainimg img {
  width: 381px;
  height: 639px;
}

@media screen and (max-width: 768px) {
  * {
    width: 80%;
    height: auto;
  }
}
