:root {
  --primary: #fff;
  --secondary: #c07c28;
  --background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("../fonts/VCR_OSD_MONO.ttf") format("truetype");
}

body {
  font-family: "VCR OSD Mono";
  background-color: var(--background);
  color: var(--primary);
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-logo img {
  display: block;
  margin: 20px auto;
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: var(--background);
  padding: 1px 0;
  margin-top: -10px;
}

.navbar a {
  color: var(--primary);
  font-size: 15px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--secondary);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.main-logo img {
  width: 3rem;
  height: auto;
  object-fit: contain;
}

.main-logo h1 {
  font-size: 2.2rem;
  margin: 0;
  text-decoration: underline;
}

.maintext {
  flex: 1 1 60%;
  padding: 20px;
  text-align: justify;
}

.maintext p {
  clear: both;
  line-height: 1rem;
  margin-bottom: 10px;
}

.maintext ul {
  margin-left: 20px;
  list-style: disc;
  line-height: 1rem;
  margin-bottom: 10px;
}

.submit-button {
  font-family: "VCR OSD Mono", monospace;
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 5px 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.submit-button:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.mainimg {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mainimg img {
  width: 350px;
  height: auto;
}
